﻿body {
    padding:0 0 0 0;
      overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(240 ,240, 240);
    }
    .competitiveEventPageClass{
   width:1024px;
}
}

@media screen and (max-width: 1019px) {

    .competitiveEventPageClass{
   width:375px;
}
}


.competitiveEvent{
    margin-top:10px;
    margin-bottom:10px;
    width:291px;
    align-content:center;
    background-color:white
}

.competitiveEventTablet{
    margin-top:10px;
    margin-bottom:17px;
    padding:0 34px 0 34px;
    width:488px;
    height:350px;
    align-content:center;
    background-color:white
}



.marginFive{
    margin-bottom:5px;
}

.imagesContainer{
    padding:0 10px 0 10px;
}

.imagesContainerTablet{
    max-width:420px;
    padding:0 0 0 16px;
}
.fighterImage{
    height:109px;
    width:100px;
    background-repeat:no-repeat;
    background-size:cover;
}

.fighterImageTablet{
    height:165px;
    width:150px;
        background-repeat:no-repeat;
    background-size:cover;
}


.midImage{
    width:70px;
}

.midImageTablet{

    width:89px;
}

.namesContainer{
    padding:0 0 0 20px;
}

.namesContainerTablet{
    padding:0 0 0 74px;
      width:420px;
}
.namesBlock{
    width:91px;
    height:36px;
    line-height:18px;
    font-size:20px;
    font-family:SF-UI-Display-Heavy;
}

.vsBlock{
    margin-left:15px;
    margin-right:15px;
    height:34px;
    width:40px;
    background-color:rgb(130, 130, 130);
    text-align:center;
    padding:10px 0 0 0;
    color:white;
    line-height:14px;
    font-size:18px;
    font-family:SF-UI-Display-Light
}

.vsBlockTablet{
    margin-left:19px;
    margin-right:19px;
    height:43px;
    width:51px;
    background-color:rgb(130, 130, 130);
    text-align:center;
    padding:15px 0 0 0;
    color:white;
    line-height:14px;
    font-size:24px;
    font-family:SF-UI-Display-Light;
}

.tableTitle{
    height:19px;
line-height:14px;
background-color:rgb(237, 51 ,36);
color:white;
text-align:center;
  font-size:12px;
  padding:3px 0 0 0;
}


.text-right{
    padding-right:0;
   width:91px;
}

.text-left{
    padding-left:0;
    width:91px;
}

.subTitle{
    width:64px;
    line-height:19px;
    font-size:12px;
    font-family:SF-UI-Display-Bold;
    padding:0 0 0 0;
    text-align:center

}

.infoTable{
    width:246px;
    padding:0 0 0 0;
}


.mainDiv{
      border-bottom:5px solid rgb(240 ,240, 240);
}

.mainDivTablet{
     padding:0 0 0 0;
}

.competitiveEventPagePhone{
    margin-left:-40px;
    margin-right:-40px;

}

.greyBackground{
    background-color:rgb(240 ,240, 240);
}

.competitiveEventPageMain{
    width:1024px;
    padding:0 0 0 0;
}



.secnodTabletEvent{
    margin-left:15px;
}



.evenRow{
    background-color: rgb(240 ,240, 240);
}







