﻿html, body {
  min-height: 100% !important;
  height: 100%;
  padding: 0 0 0 0;
}

@font-face {
  font-family: Factoria-Bold;
  src: url(../fonts/Factoria/Factoria-Bold.otf);
}

@font-face {
  font-family: HeroicCondensed-Bold;
  src: url(../fonts/HeroicCondensed/HeroicCondensed-Bold.otf);
}

@font-face {
  font-family: SFUIText-Light;
  src: url(../fonts/SFUIText/SF-UI-Text-Light.otf);
}

.popup-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.7);
  color: rgb(255, 255, 255);
  text-align: center;
}

.popup-container-box{
  background-color: rgb(20, 20, 20);
  width: 383px;
  height: 260px;
}

.popup-title{
  font-family:Factoria-Bold;
  font-size: 20px;
  margin-top: 35px;
}

.popup-subtitle{
  font-weight: normal ;
  font-family: SFUIText-Light;
  font-size: 15px;
  margin-top: 20px;
}

.btnCancel{
  font-family: HeroicCondensed-Bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: 77px;
  height: 30px;
  margin: 25px 10px 0 0 ;
  background: rgb(100,100,100);
}

.btnBuy{
  font-family: HeroicCondensed-Bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: 77px;
  height: 30px;
  margin: 25px 0 0 10px ;
  background:  rgb(237,51,36);
}

.smartphoneClass {
    background-image: url('../Images/phonePic.PNG');
    width:100%;
    height:100%;
     background-repeat:no-repeat;
     background-size:contain
}
