body {
  padding-top: 0;
  padding-bottom: 0; }

.tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  color: white;
  padding: 0 16px; }

.nextEventLabel, .nextEventContent {
  display: inline-block;
  font-family: SF-Compact-Text-Regular; }

.nextEventLabel {
  font-size: 12px; }

.contentContainer {
  display: inline-block;
  width: 200px; }

.contentContainerTablet {
  display: inline-block; }

.buttonContainer {
  display: inline-block;
  width: 100px;
  margin-left: calc(100% - 240px); }
  .buttonContainer div {
    height: 26px;
    width: 70px;
    border-radius: 2px;
    background-color: #ed3324;
    color: white;
    font-size: 20px;
    font-family: HeroicCondensed-Bold;
    margin: 4px;
    text-align: center; }

.buttonContainerTablet {
  vertical-align: top;
  display: inline-block; }
  .buttonContainerTablet div {
    display: inline-block;
    height: 26px;
    width: 70px;
    border-radius: 2px;
    background-color: #ed3324;
    color: white;
    font-size: 20px;
    font-family: HeroicCondensed-Bold;
    margin: 4px;
    text-align: center; }

.vsContainer {
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 22px;
  font-size: 28px;
  font-family: HeroicCondensed-Bold; }
  .vsContainer .vsLabel {
    font-family: HeroicCondensed-Light; }
  .vsContainer div {
    display: inline-block; }

.vsContainer.tablet {
  line-height: 35px;
  height: 35px;
  margin: 0 10px; }

.nextEventContent {
  font-size: 12px;
  color: #e51b1c; }

.nameAndDateContainer {
  vertical-align: top;
  display: inline-block;
  font-size: 14px; }

.contentContainerTablet .nameAndDateContainer {
  text-align: right; }

.greyvs {
  font-family: SF-Compact-Text-Regular; }

.dateTime.tablet {
  text-align: right; }

.dateTime {
  color: #8c8c8c;
  font-family: SF-UI-Display-Heavy; }

.glyphicon-menu-right {
  font-size: 12px; }

.watchNowContainer {
  margin-left: calc(100% - 280px); }

.watchNowContainer.tablet {
  margin-left: 0; }

.watchNow {
  border-radius: 2px;
  font-family: HeroicCondensed-Bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 106px;
  height: 28px;
  border: 1px solid #ed3324; }
  .watchNow .orangeDot {
    display: inline-block;
    width: 8px;
    margin: 5px;
    height: 8px;
    border: 1px solid #ed3324;
    background-color: #ed3324;
    border-radius: 50%; }

/*# sourceMappingURL=EventCTA.css.map */
