﻿html, body {
    min-height: 100% !important;
    height: 100%;
    padding:0 0 0 0;
}

@font-face {
  font-family: SFUIDisplay-Semibold;
  src: url(../fonts/SFUIDisplay/SF-UI-Display-Semibold.otf);
}

@font-face {
  font-family: SFUIDisplay-Bold;
  src: url(../fonts/SFUIDisplay/SF-UI-Display-Bold.otf);
}

.container {
  width: 100%;
  margin: 0;
}

.row.tableTitles div{
  line-height:30px;
  background-color:rgb(0, 0 ,0);
  color:white;
  font-size:8px;
  font-family: SFUIDisplay-Bold;
}

.row{
  width:100%;
  margin-left: 0px;
  margin-right: 0px;
}

.row div{
  line-height: 12px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .tableTitlesDate {
    padding:0 27px 0 48px !important;
  }
}

@media screen and (min-width: 480px) {
  .row.tableTitles div{
    font-size:12px;
  }
}

.fighterType{
  width: 15%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  /*border-style: none none solid none;*/
  /*border-width: 1px;*/
  /*border-color: rgb(212,212,212);*/
}

@media screen and (min-width: 480px) {
  .fighterType{
    width: 9%;
  }
}

.subTitleDataDate {
  padding-left: 0px;
}
@media screen and (min-width: 480px) {
  .subTitleDataDate {
    padding-left: 34px;
  }
}

.subTitleData{
  height: 30px;
  line-height:20px;
  font-size:9px;
  font-family: SFUIDisplay-Semibold;
  border-style: none none solid none;
  border-width: 1.3px;
  border-color: rgb(212,212,212);
  padding: 3px 0 0 15px;

}

.glyphicon-play-circle{
  color: rgb(200,200,200);
  font-weight: normal;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .subTitleData {
    font-size:14px;
  }
}

.subTitleDataColor{
  height: 100%;
  background: blue;
}
