﻿body {
    padding-top:10px
}

#statsPage{
    /*width:375pt;*/
   padding-left:0;
   padding-right:0;
}

.bold{
    font-family:SF-UI-Display-Heavy;
}

.noPad{
    padding: 0 5px 0 5px;
}
.fighterInfo{
     width:300px;
     padding-left:0;
   padding-right:0;
   font-family:SF-UI-Display-Regular;
}

.fighterInfoTablet{
    width:300px;
     padding-left:0;
   padding-right:0;
   font-family:SF-UI-Display-Regular;
}

.infoLine{
    margin:0 0 0 0 ;
    line-height:24px;
    font-size:12px;
}

.statsTable{
    text-align:center;
    width:157px;
     font-family:SF-UI-Display-Heavy;
}

.statsTableTablet{
    text-align:center;
    width:300px;
     font-family:SF-UI-Display-Heavy;
}



.statsTable.secondTable{
    margin-left:20px

}

.statsTableTablet.secondTable{
    margin-left:82px

}

.twoStatsTables{
     margin: auto;
     width: 334px;
}

.oneStatsTable{
    margin: auto;
     width: 157px;
}

.twoStatsTablesTablet{
     margin: auto;
     width: 682px;
}

.oneStatsTableTablet{
    margin: auto;
     width: 300px;
}



.mmaHeader{
    background-color:rgb(202 ,46, 34);

}

.cmnHeaders{
     color:white;
    line-height:24px;
    font-size:14px;
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.kickboxHeader{
    background-color:rgb(30 ,117, 187);

}

.winLoseHeader{
        background-color:rgb(255 ,143, 134);
    color:white;
    line-height:15px;
    font-size:11px;
}

.winLoseKickboxHeader{
        background-color:rgb(136, 193, 240);
    color:white;
    line-height:15px;
    font-size:11px;
}

.winLoseBody{
    line-height:43px;
    font-size:36px;
    font-family:SF-UI-Display-Bold;
}

.subHeaders{
    background-color:rgb(139, 139, 139);
    color:white;
    line-height:15px;
    font-size:11px;
    font-family:SF-UI-Display-Bold;
}

.subBody{
    line-height:20px;
    font-size:12px;
}

.subBody, .subHeaders ,.winLoseBody {
    border-color:  rgb(139, 139, 139);
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.addBorder{
    border-color:  rgb(139, 139, 139);
    border-style: solid;
    border-width: 0 1px 0 0;
}
