<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="styles/bootstrap.min.css" rel="stylesheet" />
  <link href="styles/Site.css" rel="stylesheet" />
  <link href="styles/FighterStats.css" rel="stylesheet" />
  <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/angular/angular.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <link href="styles/CompetitiveEvent.css" rel="stylesheet" />
</head>
<body ng-app="Bellator" ng-controller="competitiveEventCtrl">

  <div ng-cloak class="container center-block" id="competitiveEventPage" ng-class="windowType? 'competitiveEventPageMain' :'competitiveEventPagePhone' " ng-controller="competitiveEventCtrl">

    <div class="row mainRow ">
      <div  ng-class="{'col-xs-6 mainDivTablet' : windowType , 'col-xs-12 mainDiv' : !windowType}"  ng-class-even="" ng-repeat="event in competitiveEventData.items">
        <div  ng-class="windowType ? 'competitiveEventTablet center-block' : 'competitiveEvent center-block'" class="container "  >
          <div class="row marginFive">
            <div class="container center-block" ng-class="windowType? 'imagesContainerTablet':  'imagesContainer'">
              <div class="col-xs-5 col-md-5 " ng-class="windowType? 'fighterImageTablet':  'fighterImage'" ng-style="{'background-image': 'url('+BellatorService.getFighterImageUrl(event.contestants[1].person.id,event.contestants[1].result)+')'}">
                <div class="decision" ng-show="event.contestants[1].result.competitiveEventResult=='Win'"><span class="result">Win</span> &#8226 {{event.contestants[1].result.resultMethod}}</div>
              </div>
              <div class="col-xs-2 col-md-2" ng-class="windowType? 'midImageTablet':  'midImage'"><div class="noContest" ng-show="event.contestants[1].result.competitiveEventResult=='noContest'">NO CONTEST</div></div>
              <div class="col-xs-5 col-md-5" ng-class="windowType? 'fighterImageTablet':  'fighterImage'" ng-style="{'background-image': 'url('+BellatorService.getFighterImageUrl(event.contestants[0].person.id,event.contestants[0].result)+')'}">
                <div class="decision" ng-show="event.contestants[0].result.competitiveEventResult=='Win'"><span class="result">Win</span> &#8226 {{event.contestants[0].result.resultMethod}}</div>

              </div>
            </div>
          </div>

          <div class="row marginFive">
            <div class="container  center-block" ng-class="windowType? 'namesContainerTablet':  'namesContainer'" >
              <div class="col-xs-5 namesBlock text-right">{{event.contestants[1].person.name}}</div>
              <div class="col-xs-2 " ng-class="windowType? 'vsBlockTablet':  'vsBlock'">VS</div>
              <div class="col-xs-5 namesBlock text-left">{{event.contestants[0].person.name}}</div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12 tableTitle">{{event.title | uppercase}}</div>
          </div>

          <div class="row">
            <div class="container infoTable center-block">
              <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.mma.wins}}-{{event.contestants[1].person.characteristics.mma.draws}}-{{event.contestants[1].person.characteristics.mma.losses}}</div>
              <div class="col-xs-2 subTitle">Record</div>
              <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.mma.wins}}-{{event.contestants[0].person.characteristics.mma.draws}}-{{event.contestants[0].person.characteristics.mma.losses}}</div>
            </div>
          </div>
          <div class="row evenRow">
            <div class="container infoTable center-block">
              <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.common.height_feet}}'{{event.contestants[1].person.characteristics.common.height_inches}}"</div>
              <div class="col-xs-2 subTitle">Height</div>
              <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.common.height_feet}}'{{event.contestants[0].person.characteristics.common.height_inches}}"</div>
            </div>
          </div>
          <div class="row">
            <div class="container infoTable center-block">
              <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.common.weight_actual}} lbs</div>
              <div class="col-xs-2 subTitle">Weight</div>
              <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.common.weight_actual}} lbs</div>
            </div>
          </div>
          <div class="row evenRow">
            <div class="container infoTable center-block">
              <div class="col-xs-5 text-right">{{event.contestants[1].person.placeOfResidence}}</div>
              <div class="col-xs-2 subTitle">Country</div>
              <div class="col-xs-5 text-left">{{event.contestants[0].person.placeOfResidence}}</div>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>
</body>
</html>
