<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="styles/bootstrap.min.css" rel="stylesheet" />
  <link href="styles/Site.css" rel="stylesheet" />
  <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/angular/angular.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="http://assets-production.applicaster.com/js2native/v2/js2native.js"></script>
  <link href="styles/EventCTA.css" rel="stylesheet" />
</head>
<body ng-app="Bellator" ng-controller="eventCTACtrl">

<div ng-cloak class="tickets">
  <div ng-if="!windowType" class="contentContainer">
  <div ng-if="!showLive" class="nextEventLabel">NEXT EVENT</div>
  <div class="nextEventContent">{{event[0].items[0].shortTitle}}</div>
  <div ng-if="!showLive" class="vsContainer">
    <div class="name">{{titleDelimeter[0]}}</div>
    <div class="vsLabel">VS</div>
    <div class="name">{{titleDelimeter[2]}}</div>
  </div>
    <div ng-if="showLive" class="vsContainer">
      <div class="vsLabel">{{perlimsTime()}} -</div>
      <div class="name">LIVE NOW</div>
    </div>


  <div ng-if="!showLive" class="dateTime" >{{eventTime}}</div>
    <div ng-if="showLive" class="dateTime " >{{titleDelimeter[0]}} <span class="greyvs">VS</span> {{titleDelimeter[2]}}</div>
  </div>

  <div ng-if="windowType" class="contentContainerTablet">
    <div class="nameAndDateContainer">
      <div ng-if="!showLive" class="nextEventLabel">NEXT EVENT</div>
      <div class="nextEventContent">{{event[0].items[0].shortTitle}}</div>
      <div ng-if="!showLive" class="dateTime tablet" >{{eventTime}}</div>
      <div ng-if="showLive" class="dateTime tablet" >{{titleDelimeter[0]}} <span class="greyvs">VS</span> {{titleDelimeter[2]}}</div>
    </div>

    <div ng-if="!showLive" class="vsContainer" ng-class="{'tablet':windowType}">
      <div class="name">{{titleDelimeter[0]}}</div>
      <div class="vsLabel">VS</div>
      <div class="name">{{titleDelimeter[2]}}</div>
    </div>
    <div ng-if="showLive" class="vsContainer" ng-class="{'tablet':windowType}">
      <div class="vsLabel">{{perlimsTime()}} -</div>
      <div class="name">LIVE NOW</div>
    </div>


  </div>


  <div ng-if="!showLive" ng-class="{'buttonContainer':!windowType, 'buttonContainerTablet':windowType}">
    <a href="ticketsUrl">TICKETS <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    <div ng-if="showPPV" ng-click="buyPPVPressed()">BUY PPV <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
  </div>

  <div ng-if="showLive && !isMainEventEnded" class="watchNowContainer" ng-class="{'tablet':windowType}">
    <div class="watchNow" ng-click="watchNowPressed()"><span class="orangeDot"></span>WATCH NOW<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
  </div>

</div>
</body>
</html>
