
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="styles/bootstrap.min.css" rel="stylesheet" />
  <link href="styles/Site.css" rel="stylesheet" />
  <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/angular/angular.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="http://assets-production.applicaster.com/js2native/v2/js2native.js"></script>
  <link href="styles/FighterHistory.css" rel="stylesheet" />
</head>

<body ng-app="Bellator" class="tableWrapper" ng-controller="fightersHistoryCtrl">

  <div class="row tableTitles">
    <!--<div class="container infoTable center-block">-->
    <div class="col-xs-2 tableTitlesDate">DATE</div>
    <div class="col-xs-2">RESULT</div>
    <div class="col-xs-2">OPPONENT</div>
    <div class="col-xs-2">METHOD</div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-7 ">TIME</div>
        <div class="col-xs-5 ">WATCH</div>
      </div></div>
    <!--<div class="col-xs-2">WATCH</div>-->
    <!--</div>-->
  </div>

  <div class="row" ng-repeat="event in fighterHistoryData | orderBy : 'timestamp' : true">
    <!--<div class="container infoTable center-block">-->
    <div class="col-xs-2 subTitleData">
      <div class="row">
        <div class="col-xs-1 fighterType" ng-style="{'background':event.COLOR}"></div>
        <div class="col-xs-11 subTitleDataDate">{{ event.DATE}}</div>
      </div>
    </div>
    <div class="col-xs-2 subTitleData">{{ event.RESULT}}</div>
    <div class="col-xs-2 subTitleData">{{ event.OPPONENT}}</div>
    <div class="col-xs-2 subTitleData">{{ event.METHOD}}</div>
    <div class="col-xs-4 subTitleData">
      <div class="row">
        <div class="col-xs-7 ">{{event.TIME}}</div>
        <div ng-show="event.VIDEO" class="col-xs-5 " ng-click="openVideo(event.VIDEO)">
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </div>
      </div></div>
  </div>
  <!--</div>-->
</body>
