<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link href="styles/bootstrap.min.css" rel="stylesheet" />
  <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/angular/angular.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="./styles/Site.css" rel="stylesheet" />
  <link href="./styles/FighterStats.css" rel="stylesheet" />
  <script src="app.js"></script>

</head>

<div ng-cloak ng-app="Bellator" class="container " id="statsPage" ng-controller="fighterStatsCtrl">

  <div class="container fighterInfo">
    <div class="row infoLine">
      <div class="col-xs-3 noPad" >
        HEIGHT:<span class="bold">{{fighterData.characteristics.common.height_feet}}'{{fighterData.characteristics.common.height_inches}}"</span>
      </div>
      <div class="col-xs-5 noPad text-center">
        WEIGHT:<span class="bold">{{fighterData.characteristics.common.weight_actual}} lbs</span>
      </div>
      <div class="col-xs-4 noPad">
        BORN:<span class="bold">{{(fighterData.dateOfBirth.date | date:'MM/dd/yyyy')}}</span>
      </div>
    </div>
    <div class="row infoLine text-center">
      <div class="col-xs-12">
        HOMETOWN:<span class="bold">{{fighterData.placeOfResidence | uppercase}}</span>
      </div>
    </div>
  </div>
  <br />

  <div class="row" ng-class="isKickboxing && isMma ? windowType ? 'twoStatsTablesTablet' :  'twoStatsTables' :  windowType ? 'oneStatsTableTablet' : 'oneStatsTable'">
    <div class="col-xs-12" ng-if="isMma"  ng-class="windowType ? 'statsTableTablet' : 'statsTable' ">
      <div class="row ">
        <div class="col-xs-12">
          <div class="row mmaHeader cmnHeaders">
            <div class="col-xs-8 col-xs-offset-2 ">
              MMA
            </div>
          </div>
          <div class="row winLoseHeader">
            <div class="col-xs-6">
              WINS
            </div>
            <div class="col-xs-6">
              LOSSES
            </div>
          </div>
          <div class="row winLoseBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.mma.wins}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.mma.losses}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              TKO/KO
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.mma.wins_tko}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.mma.loss_tko}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              SUBMISSIONS
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.mma.wins_submission}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.mma.loss_submission}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DECISIONS
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.mma.wins_decision}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.mma.loss_decision}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DQ
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              0
            </div>
            <div class="col-xs-6">
              0
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DRAW
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-8 col-xs-offset-2">
              {{fighterData.characteristics.mma.draws}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              NO CONTEST
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-8 col-xs-offset-2">
              0
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-xs-4" ng-if="isKickboxing"  ng-class="{ 'statsTableTablet' :windowType, 'statsTable' :!windowType , 'secondTable': isMma  }">
      <div class="row ">
        <div class="col-xs-12 ">
          <div class="row kickboxHeader cmnHeaders">
            <div class="col-xs-8 col-xs-offset-2 ">
              KICKBOXING
            </div>
          </div>
          <div class="row winLoseKickboxHeader">
            <div class="col-xs-6">
              WINS
            </div>
            <div class="col-xs-6">
              LOSSES
            </div>
          </div>
          <div class="row winLoseBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.kickboxing.wins}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.kickboxing.losses}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              TKO/KO
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.kickboxing.wins_tko}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.kickboxing.loss_tko}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              SUBMISSIONS
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.kickboxing.wins_submission}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.kickboxing.loss_submission}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DECISIONS
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              {{fighterData.characteristics.kickboxing.wins_decision}}
            </div>
            <div class="col-xs-6">
              {{fighterData.characteristics.kickboxing.loss_decision}}
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DQ
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-6 addBorder">
              0
            </div>
            <div class="col-xs-6">
              0
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              DRAW
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-8 col-xs-offset-2">
              0
            </div>
          </div>
          <div class="row subHeaders">
            <div class="col-xs-8 col-xs-offset-2">
              NO CONTEST
            </div>
          </div>
          <div class="row subBody">
            <div class="col-xs-8 col-xs-offset-2">
              0
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
