
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="styles/bootstrap.min.css" rel="stylesheet" />
  <link href="styles/Site.css" rel="stylesheet" />
  <script src="scripts/jquery/dist/jquery.min.js"></script>
  <script src="scripts/angular/angular.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="http://assets-production.applicaster.com/js2native/v2/js2native.js"></script>
  <link href="styles/Roadblock.css" rel="stylesheet" />
</head>

<body ng-app="Bellator" class="tableWrapper" ng-controller="roadblockCtrl">




<div class="popup-container">
  <div class="popup-container-box">
    <div class="popup-title">
      Bellator 180 Pay-Per-View
    </div>

    <div class="popup-subtitle">
      Don't miss Bellator: NYC, a card that <br>
      is sure to be the biggest event in <br>
      company history - featuring a double <br>
      main event & two title fights.
    </div>

    <div>
      <button ng-click="cancelPressed()" class="btnCancel">CANCEL</button>
      <button ng-click="buyPPVPressed()" class="btnBuy">BUY PPV</button>
    </div>
  </div>
</div>


</body>
