
<script src="./../scripts/controllers/competitive_event.js"></script>
<link href="./../styles/CompetitiveEvent.css" rel="stylesheet" />


<div class="container center-block" id="competitiveEventPage" ng-class="windowType? 'competitiveEventPageMain' :'competitiveEventPagePhone' " ng-controller="competitiveEventCtrl">

<div class="row mainRow center-block">
    <div  ng-class="{'col-xs-5 mainDivTablet' : windowType , 'col-xs-12 mainDiv' : !windowType, 'col-xs-offset-1' : $odd && windowType }"  ng-class-even="" ng-repeat="event in competitiveEventData.items">
      <div  ng-class="windowType ? 'competitiveEventTablet center-block' : 'competitiveEvent center-block'" class="container "  >
        <div class="row marginFive">
          <div class="container center-block" ng-class="windowType? 'imagesContainerTablet':  'imagesContainer'">
            <div class="col-xs-5 col-md-5 " ng-class="windowType? 'fighterImageTablet':  'fighterImage'" ng-style="{'background-image': 'url(http://res.cloudinary.com/ananey/image/upload/c_scale,w_150/c_scale,g_south,l_'+event.contestants[1].person.id+',w_150/v1493888945/eventpage-fighter_red_bg_fl2nlm.png)'}"></div>
            <div class="col-xs-2 col-md-2" ng-class="windowType? 'midImageTablet':  'midImage'"></div>
            <div class="col-xs-5 col-md-5" ng-class="windowType? 'fighterImageTablet':  'fighterImage'" ng-style="{'background-image': 'url(http://res.cloudinary.com/ananey/image/upload/c_scale,w_150/c_scale,g_south,l_'+event.contestants[0].person.id+',w_150/v1493888945/eventpage-fighter_blue_bg_jbqtgo.png)'}"></div>
          </div>
        </div>

        <div class="row marginFive">
          <div class="container  center-block" ng-class="windowType? 'namesContainerTablet':  'namesContainer'" >
            <div class="col-xs-5 namesBlock text-right">{{event.contestants[1].person.name}}</div>
            <div class="col-xs-2 " ng-class="windowType? 'vsBlockTablet':  'vsBlock'">VS</div>
            <div class="col-xs-5 namesBlock text-left">{{event.contestants[0].person.name}}</div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 tableTitle">{{event.title | uppercase}}</div>
        </div>

        <div class="row">
          <div class="container infoTable center-block">
            <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.mma.wins}}-{{event.contestants[1].person.characteristics.mma.draws}}-{{event.contestants[1].person.characteristics.mma.losses}}</div>
            <div class="col-xs-2 subTitle">Record</div>
            <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.mma.wins}}-{{event.contestants[0].person.characteristics.mma.draws}}-{{event.contestants[0].person.characteristics.mma.losses}}</div>
          </div>
        </div>
        <div class="row evenRow">
          <div class="container infoTable center-block">
            <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.common.height_feet}}'{{event.contestants[1].person.characteristics.common.height_inches}}"</div>
            <div class="col-xs-2 subTitle">Height</div>
            <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.common.height_feet}}'{{event.contestants[0].person.characteristics.common.height_inches}}"</div>
          </div>
        </div>
        <div class="row">
          <div class="container infoTable center-block">
            <div class="col-xs-5 text-right">{{event.contestants[1].person.characteristics.common.weight_actual}} lbs</div>
            <div class="col-xs-2 subTitle">Weight</div>
            <div class="col-xs-5 text-left">{{event.contestants[0].person.characteristics.common.weight_actual}} lbs</div>
          </div>
        </div>
        <div class="row evenRow">
          <div class="container infoTable center-block">
            <div class="col-xs-5 text-right">{{event.contestants[1].person.placeOfResidence}}</div>
            <div class="col-xs-2 subTitle">Country</div>
            <div class="col-xs-5 text-left">{{event.contestants[0].person.placeOfResidence}}</div>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>
