
<script src="./../scripts/controllers/fighters_history.js"></script>
<link href="./../styles/FighterHistory.css" rel="stylesheet" />
<div class="container">
  <div class="row tableTitles">
    <!--<div class="container infoTable center-block">-->
    <div class="col-xs-2 tableTitlesDate">DATE</div>
    <div class="col-xs-2">RESULT</div>
    <div class="col-xs-2">OPPONENT</div>
    <div class="col-xs-2">METHOD</div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-7 ">TIME</div>
        <div class="col-xs-5 ">WATCH</div>
      </div></div>
    <!--<div class="col-xs-2">WATCH</div>-->
    <!--</div>-->
  </div>

<div class="row" ng-repeat="event in fighterHistoryData">
  <!--<div class="container infoTable center-block">-->
  <div class="col-xs-2 subTitleData">
    <div class="row">
      <div class="col-xs-1" ng-style="{'background':event.COLOR}"></div>
      <div class="col-xs-11 subTitleDataDate">{{ event.DATE}}</div>
    </div>
  </div>
  <div class="col-xs-2 subTitleData">{{ event.RESULT}}</div>
  <div class="col-xs-2 subTitleData">{{ event.OPPONENT}}</div>
  <div class="col-xs-2 subTitleData">{{ event.METHOD}}</div>
  <div class="col-xs-4 subTitleData">
    <div class="row">
      <div class="col-xs-7 ">{{ event.TIME}}</div>
      <div class="col-xs-5 ">
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
      </div>
    </div></div>
  </div>
  <!--</div>-->
</div>
