<script src="./../scripts/controllers/roadblock.js"></script>
<link href="./../styles/Roadblock.css" rel="stylesheet"/>

<div class="popup-container">
  <div class="popup-container-box">
    <div class="popup-title">
      Bellator 180 Pay-Per-View
    </div>

    <div class="popup-subtitle">
      Don't miss Bellator: NYC, a card that <br>
      is sure to be the biggest event in <br>
      company history - featuring a double <br>
      main event & two title fights.
    </div>

    <div>
      <button class="btnCancel">CANCEL</button>
      <button class="btnBuy">BUY PPV</button>
    </div>
  </div>
</div>

